@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Open+Sans:wght@300;400&display=swap');

@font-face {
  font-family: 'icomoon';
  src:  url('iconos/icomoon.eot?jw4rod');
  src:  url('iconos/icomoon.eot?jw4rod#iefix') format('embedded-opentype'),
    url('iconos/icomoon.ttf?jw4rod') format('truetype'),
    url('iconos/icomoon.woff?jw4rod') format('woff'),
    url('iconos/icomoon.svg?jw4rod#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-usuario:before {
  content: "\e971";
}
.icon-cruz:before {
  content: "\ea0f";
}
.icon-home:before {
  content: "\e907";
}
.icon-tag_de_precio:before {
  content: "\e935";
}
.icon-moneda:before {
  content: "\e93b";
}
.icon-telefono:before {
  content: "\e942";
}
.icon-ubicacion:before {
  content: "\e947";
}
.icon-reloj:before {
  content: "\e94e";
}
.icon-lupa:before {
  content: "\e986";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-flecha_der:before {
  content: "\ea3c";
}
.icon-flecha_izq:before {
  content: "\ea40";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-check_negro:before {
  content: "\e900";
}
.icon-carrito_de_compras_negro:before {
  content: "\e901";
}
.icon-icono_github:before {
  content: "\e902";
}
.icon-icono_instagram:before {
  content: "\e903";
}
.icon-billete_negro:before {
  content: "\e904";
}
.icon-plus_negro:before {
  content: "\e905";
}
.icon-tacho_de_basura_negro:before {
  content: "\e906";
}

/* Fin del icomoon */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    background-color: #E09DF2;
}

h1{
   font-family: 'Manrope', sans-serif;
   font-weight: 600;
   font-size: 3.3em;
}

h2, h3{
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
}
a, button{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1em;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}
.header_pagina{
    display: flex;
    background-color: #85def2;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 4em;
}

.buscador-container{
  position: relative;
  width: 40%;
}

#lupa, #cruz{
  position: absolute;
  bottom: 1em;
  right: 1em;
  font-size: 1em;
}

#cruz{
  cursor: pointer;
}

#buscador{
    padding: 1em;
    width: 100%;
    border-radius: 0.3em;
}

nav{
    background-color:  #85def2;
    border-bottom: #E09DF2 1px solid;
}
nav a{
    text-decoration:none;
    color: #2c2727;
    display: block;
    }

nav ul{
    display: flex;
    list-style: none;
}

nav li{
    display: inline-block;
    width: 25%;
    padding: 0.5em 0.5em;
    background-color: #85def2;
    border:2px solid #489bad;
    text-align: center;
    border-radius: 0.3em;
    font-size: larger;
    font-weight: 500;
}

nav li:hover{
    background-color:  rgb(177, 167, 242, 20);
    transition: ease;
    transition-duration: 0.2s;
}
nav a:hover{
    color:#6d3ef0;
}

    
footer{
    display: flex;
    background-color: #85def2;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding: 1em 5em;
    font-family: 'Manrope', sans-serif
}
.logo-empresa{
    max-width: 30%;
}
.logo-footer{
   max-width: 14%;
}
#logo_pagina{
   font-size: 0.3em;
}
.icono{
    width: 10%;
    padding: 0em 0.03em;

}
#carrito{
    text-decoration: none;
    font-size: 2.2em;
    color: #2c2727;
}

#carrito:hover{
    color: #985aeb;
    transform: scale(1.2,1.2);
    transition: ease;
    transition-duration: 0.2s;
}

#login-usuario{
  text-decoration: none;
    font-size: 2.2em;
    color: #2c2727;
}

#login-usuario:hover{
  color: #985aeb;
  transform: scale(1.2,1.2);
  transition: ease;
  transition-duration: 0.2s;
}


.icono:hover{
  color: #573d3d;
}

.icono{
    text-decoration: none;
    color: #2c2727;
    font-size: 2em;
}

.icon-reloj{
    font-size: 1.5em;
    color: #2c2727;
    position: absolute;
    right: 210px;
}

#info_tienda{
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: 'Manrope', sans-serif
}

#redes_sociales {
  font-weight: 500;
  font-size: large;
}

.oculto {
  display: none;
}

