.contacto-mensaje{
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
    justify-content: space-around;
    padding: 17px 10px;
    text-align: left;
}

.contacto-mensaje h2{
	flex-basis: 100%;
	text-align: left;
	padding-left: 4%;
	padding-bottom: 10px;
}

.contenedor-formulario{
	display: flex;
	flex-direction: column;
	width: 50%;
	
	background-image: url(../img/CocinaN/fondo.jpg);
	padding: 30px;
	border-radius: 3px;
	font-family: 'Open Sans', sans-serif;
    font-weight: 400px;
}

.informacion-contacto h2{
	flex-basis: auto;
	padding-left: 0%;
}

.informacion-contacto{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 10px 12px;
	height: 300px;
	background-image: url(../img/CocinaN/fondo.jpg);
	border-radius: 3px;
}

.infomacion-extendida{
	width: 30px;
}

.icono-logo{
	text-decoration: none;
    color: #2c2727;
    font-size: 1.5em;
}

.icono-logo:hover{
	color: #573d3d;
}

.contacto-mapa{
    padding: 10px;
    flex-basis: 100%;
    text-align: center;
	align-items: center;
}

.ubicacion{
	margin-top: 30px;
	padding: 20px;
	border-radius: 3px;
	background-image: url(../img/CocinaN/fondo.jpg);
	background-color: rgb(255, 194, 144);
}

.ubicacion h3{
	padding-left: 2%;
	padding-bottom: 2%;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea {
	width: 100%;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 3px;
	border:1px solid #000000;
	font-size: 16px;
	font-family: Arial;
}

.formulario textarea {
	min-height: 120px;
	max-height: 300px;
	min-width: 100%;
	max-width: 100%;
}

.formulario input[type="text"]:focus,
.formulario input[type="email"]:focus,
.formulario textarea:focus {
	border:2px solid #000000;
}

.formulario input[type="submit"] {
	width: 200px;
	margin: 0 auto;
	padding: 10px;
	border:1px solid #000000;
	color: #000000;
	background: none;
	cursor: pointer;
	border-radius: 3px;
	font-size: 16px;
}

.formulario input[type="submit"]:hover {

}
  