.contacto-mensaje{
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em 0.5em;
    text-align: left;
}

.contacto-mensaje h2{
	flex-basis: 100%;
	text-align: left;
	padding-left: 4%;
	padding-bottom: 1em;

}

.contenedor-formulario{
	display: flex;
	flex-direction: column;
	width: 50%;
	padding: 1em;
	border-radius: 0.2em;
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
	background-image: url(../img/CocinaN/fondo.jpg);
}

.informacion-contacto h2{
	flex-basis: auto;
	padding-left: 0%;
}

.informacion-contacto{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 1em 1em;
	height: auto;
	background-image: url(../img/CocinaN/fondo.jpg);
	border-radius: 0.2em;
}

.infomacion-extendida{
	width: 30%;
}

.icono-logo{
	text-decoration: none;
    color: #2c2727;
    font-size: 1.5em;
}

.icono-logo:hover{
	color: #573d3d;
}

.contacto-mapa{
	/* padding: 1em; */
    flex-basis: 100%;
    text-align: center;
	align-items: center;
}

.ubicacion{
	margin-top: 1em;
	padding: 1em;
	border-radius: 0.2em;
	background-image: url(../img/CocinaN/fondo.jpg);
	background-color: rgb(255, 194, 144);
	width: 80%;
}

.ubicacion h3{
	padding-left: 2%;
	padding-bottom: 2%;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea {
	width: 100%;
	padding: 1em;
	margin-bottom: 1em;
	border-radius: 0.2em;
	font-size: 1em;
	border:1px solid #000000;
	font-family: Arial;
}

.formulario textarea {
	max-width: 100%;
	height: auto;
}

.formulario input[type="text"]:focus,
.formulario input[type="email"]:focus,
.formulario textarea:focus {
	border:2px solid #000000;
}

.formulario input[type="submit"] {
	width: 50%;
	margin: 0em auto;
	padding: 0.3em;
	border:1px solid #000000;
	color: #000000;
	background: none;
	cursor: pointer;
	border-radius: 0.2em;
	font-size: 1em;
}

.formulario input[type="submit"]:hover {

}

iframe{
	width: -webkit-fill-available;
}

@media screen and  ( (max-width: 600px) or (max-width: 360)) {

	.informacion-contacto{
		width: 40%;
		font-size: 90%;
	}
	.ubicacion{
		width: 80%;
	}

}



/* width="600" */
/* height="450" */