/* Bordered form */
form {
	/*background: #f2d5a0;
	margin: 20px auto;
	padding: 20px;
	border-radius: 5px;
  width: 50%;*/
}

/* formulario*/
.formulario {
	background:  white;
	padding: 20px;
	border-radius: 5px;
	width: 650px;
	margin-left: auto;
	margin-right: auto;
 }

 .container-usuario{
	background:  white;
	background-image: url(../img/CocinaN/fondo.jpg);
	font-family: 'Open Sans', sans-serif;
    font-weight: 400px;
	padding: 15px;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
 }

 .container-usuario input{
	width: 70%;
 }

.formulario input {
	display: block;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}
button  {
	width: 200px;
	margin: 0 auto;
	padding: 10px;
	border:1px solid #000000;
	color: #000000;
	background: none;
	cursor: pointer;
	border-radius: 3px;
	font-size: 16px;
}

.containe-button a{
	border-radius: 3px;
	width: 200px;
	margin: 0 auto;
	padding: 10px;
	border:1px solid #000000;
	color: #000000;
	font-size: 16px;
	font-style: normal;
  }

  
.containe-button{
  text-align: center;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Imagen */
.imgcontainer {
    text-align: center;
    padding: 30px;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

.datostarjeta{
	display: flex;
	flex-direction: row;
	padding: 5px;
}

.datostarjeta p{
	height: 20px;
	padding: 10px 5px 5px 5px;
}

/*Popup*/
.popup-form{
	display: flex;
	flex-direction: column;
	
	background-image: url(../img/CocinaN/fondo.jpg);
	border-style:double;
	border-radius: 1px;
	border-color: blueviolet;
	max-width: 400px;
	padding:10px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 2em;
	font-family: 'Open Sans', sans-serif;
	/*display: none;*/
}

.popup-form input{
	padding: 10px;
	margin: 5px 0px;
	background-color: white;
	border-radius: 2px;
}

form {
	border-radius: 5px;
}

.popup-button{
	display: flex;
	justify-content: center;
	text-align: center;
	height: 50px;
}

.popup-button a{
	border-radius: 3px;
	padding: 10px 5px;
	border:1px solid #000000;
	color: #000000;
	font-size: 16px;
	text-decoration: none;
	font-style: normal;
	text-align: center;
  }

