
button:hover {
  opacity: 0.8;
}

.nombreApellido{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em 2em;
}

.nombreApellido h2{
	height: auto;
	align-self:center;
}

#imagen-cuenta{
	padding-right: 1em;
	width: 15%;
	height: auto;
	border-radius: 50%;
}

/*Tabla nueva con div*/
.container-button{
	display: grid;
	text-align: center;
	grid-template-columns: 13em 12em;
	column-gap: 30%;
	justify-content: center;
	padding-top: 2%;
}


.eliminar{
	position: absolute;
	right: -1.3em;
	bottom: 0.4em;
	font-size: 2em;
}

.titulo-carrito{
	padding-top: 1em;
	padding-left: 10em;
	text-align: left;
}

.pago-carrito{
	text-align: right;
	padding-right: 10em;
	padding-bottom: 2em;
	font-size:  1.2em;
}


 .containe-button{
	flex-basis: 100%;
	width: 650px;
	position: relative;
	padding:30px;
  }

  .containe-button h3{
	position: absolute;
	text-align: center;
	left: 400px;
	width: auto;
	bottom: 1em;
  }

  .containe-button a{
	border-radius: 3px;
	padding: 10px;
	border:1px solid #000000;
	color: #000000;
	font-size: 16px;
	font-style: normal;
	position: absolute;
	right: 320px;
	bottom: 10px;
  }
  
table, th, td {
	border: 1px solid rgba(0,0,0,.2);
	font-family: 'Open Sans', sans-serif;
}

table {

	border-collapse: collapse;
	width: 70%;
	margin-left:15%;
	margin-bottom: 2%;
	

}

th, td {
	padding:10px 20px;
}

th {
	background: #ffc290;
	background-image: url(../img/CocinaN/fondo.jpg);
	color: #000;
}


tr:hover {
	background: rgb(255, 194, 144, 20%);
}

td {
	background-color: white;
}

.table tr.even td{background-color: #fafafa;}


main a {
	background-image: url(../img/CocinaN/fondo.jpg);
}

@media screen and  ( (max-width: 600px) or (max-width: 360)) {
 
	table{
		margin-top: 5%;
		margin-bottom: 2%;
	}

	.nombreApellido{
		
		padding: 3em 1em;
	}
}