
form {
	padding: 20px;
	border-radius: 5px;
  width: 50%;  
  margin-left: auto;
  margin-right: auto;
}





.containe-button{
  text-align: center;
}

.containe-button a{
	border-radius: 3px;
	width: 200px;
	margin: 0 auto;
	padding: 10px;
	border:1px solid #000000;
	color: #000000;
	font-size: 16px;
	font-style: normal;
  }

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

.nombreApellido{

    display: flex;
    flex-direction: row;
    justify-content:center;
    padding: 10px 200px;
  
}

/* Tabla */ 
/* Responsive Table Reset */
 .micuenta-tabla{
    padding: 20px;
    font-size: 12pt;
 }
  
table, th, td {
	border: 1px solid rgba(0,0,0,.2);
}

table {
	border-collapse: collapse;
	width: 550px;
}

th, td {
	padding:10px 20px;
}

th {
	background: #f4cd85;
	color: #000;
}


tr:hover {
	background: #e5e5e5;
}

.containe-button{
  display: flex;
  flex-direction: row;
}
.containe-button button{
   align-items: flex-end;
}