
button:hover {
  opacity: 0.8;
}

.nombreApellido{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em 2em;
}

.nombreApellido h2{
	height: auto;
	align-self:center;
}

#imagen-cuenta{
	padding-right: 1em;
	width: 15%;
	height: auto;
	border-radius: 50%;
}

/*Tabla nueva con div*/
.container-button{
	display: grid;
	text-align: center;
	grid-template-columns: 12em 12em;
	grid-template-rows: 1fr;
	column-gap: 50%;
	justify-content: center;
	padding-top: 2%;
}

.contenedor-tabla-dos{
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 4em 4em 4em;
	align-content: center;
	height: 60%;
	width: 80%;
	padding: 2%;
	margin-left: auto;
	margin-right: auto;
}
.titulo-tabla{
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bolder;
	background-color: #85def2;
	border: 1px solid #000;
	padding: 2%;
}


.item-tabla{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid  #000;
	background-color: rgb(229, 240, 240); 

	text-align: center;
	padding: 2%;
}

.eliminar{
	position: absolute;
	right: -1.3em;
	bottom: 0.4em;
	font-size: 2em;
}

.contenedor-tabla-uno{
	position: relative;
	height: 60%;
	width: 80%;
	padding: 2%;
	margin-left: auto;
	margin-right: auto;
}

.contenedor-tabla-tres{
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 4em 4em 4em;
	align-content: center;
	height: 60%;
	width: 80%;
	padding: 1%;
	margin-left: auto;
	margin-right: auto;
}

.titulo-carrito{
	padding-top: 1em;
	padding-left: 10em;
	text-align: left;
}

.pago-carrito{
	text-align: right;
	padding-right: 10em;
	padding-bottom: 2em;
	font-size:  1.2em;
}

/* Tabla */ 
/* Responsive Table Reset */
 .micuenta-tabla{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
    padding: 20px;
    font-size: 12pt;
 }

 .containe-button{
	flex-basis: 100%;
	width: 650px;
	position: relative;
	padding:30px;
  }

  .containe-button h3{
	position: absolute;
	text-align: center;
	left: 400px;
	width: auto;
	bottom: 1em;
  }

  .containe-button a{
	border-radius: 3px;
	padding: 10px;
	border:1px solid #000000;
	color: #000000;
	font-size: 16px;
	font-style: normal;
	position: absolute;
	right: 320px;
	bottom: 10px;
  }
  
table, th, td {
	border: 1px solid rgba(0,0,0,.2);
	font-family: 'Open Sans', sans-serif;
}

table {

	border-collapse: collapse;
	width: 70%;
	margin-left:15%;
	

}

th, td {
	padding:10px 20px;
}

th {
	background: #ffc290;
	background-image: url(../img/CocinaN/fondo.jpg);
	color: #000;
}


tr:hover {
	background: rgb(255, 194, 144, 20%);
}

td {
	background-color: white;
}

.table tr.even td{background-color: #fafafa;}


main a {
	background-image: url(../img/CocinaN/fondo.jpg);
}
