
/* Banner */

.banner button{
    margin: 150px 10px;
}

.banner{
    display: flex;
    justify-content: center;
    padding: 5px 5px;
}

.banner_img{
    width:200px;
    height:200px;
    margin-top: 3%;
    border-radius: 10px;
    align-self: center;
}


.flecha{
    text-decoration: none;
    color: #2c2727;
    font-size: 3em;
    align-self:center;
}

.flecha:hover{
    transform: scale(1.1,1.1);
    transition: ease;
    transition-duration: 0.1s;
}

.categorias_de_productos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    bottom: 10%;
    padding: 5px;
}


.categorias_de_productos h2{
   flex-basis: 100%;
   text-align: center;
   padding: 20px 0px;
}


/*  Contenedor producto_individual */
.producto_individual{
    width: 310px;
    position: relative;
    flex-basis: 26%;
    padding: 10px;
}

.producto_individual:hover{
    transform: scale(1.1,1.1);
    filter: brightness(85%);
    transition: ease;
    transition-duration: 0.2s;
}

.link-producto{
    font-size: 2em;
    font-weight: bold;
    color:#141414;
    text-decoration: none;
    text-align: center;
    position: absolute;
    z-index: 200;
    top: 45%;
    right: 45%;
    text-shadow: -1px 1px 13px rgba(246,246,246,1);
}


.imagen-producto{
    width: 300px;
    border-radius: 50px;
    align-items: center;
    position: relative;
}

.boton_de_categorias{
    width: 200px;
    height: 150px;
}

/*  Contenedor producto_mas_vendidos*/
.productos_mas_vendidos{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    padding: 5px;
}

.productos_mas_vendidos h2{
    padding: 20px 10px;
    flex-basis: 100%;
    text-align: center;
}

.producto_individual_mas_vendidos{
    vertical-align: top;
    width: 310px;
    height: 350px;
    position: relative;
    flex-basis: 26%;
}

.producto_individual_mas_vendidos:hover{
    transform: scale(1.1,1.1);
    filter: brightness(85%);
    transition: ease;
    transition-duration: 0.2s;
}


.info_del_producto{
    position: absolute;
    background-color: rgb(165, 220, 233);
    border-radius: 0px 0px 50px 50px;
    width: 300px;
    padding: 10px 20px;
    top: 275px;
    text-align: left;
}

.precio_del_producto{
    position: absolute;
    bottom: 90px;
    left: 0px;
    background-color: rgb(133, 222, 242, 50%);
    padding: 5px 15px;
    border-radius: 0px 150px 150px 0px;
    font-weight: 600;
    font-size:1.2em;
}

.imagen-producto-info{
    width: 300px;
    border-radius: 50px 50px 0px 0px;
    align-self: center;
}

.boton_del_carrito{
    position: absolute;
    bottom: 2px;
    right: 30px;
    font-size: 1.7em;
    text-decoration: none;
    color: #2c2727;
}

.boton_del_carrito:hover{
    color: #985aeb;
    transition: ease;
    transform: scale(1.2, 1.2);
    transition-duration: 0.2s;
}

.info_del_producto input{
    width: 12%;
    height: 25px;
}




.formas_de_pago{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
}

.formas_de_pago h2{
    flex-basis: 100%;
    text-align: center;
    padding: 30px 0px;
}

.formas_de_pago button{
    margin: 40px 10px;
}

.opcion_de_pago{
    width: 200;
    height: 80px;
    padding: 0px 8px;
}



