.imagen-producto-destacado-info{
    max-width: 40%;
    height: auto;
    border-radius: 5em;
}

.boton_del_carrito{
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: 1.7em;
}

.vista_de_producto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    bottom: 10%;
    padding: 2em;
    width: 80%;
}

.producto_individual_destacado{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;

}

.descripcion_del_producto{
    padding: 10% 5%;
    text-align: left;
    position: relative;
    flex-shrink: 10;
}

.titulo_del_producto{
    position: absolute;
    top: 2em;
    right: 3em;
}


.info_del_producto_destacado{
    position: absolute;
    bottom: 5%;
    right: 20%;
}

.info_del_producto_destacado input{
    width: 70%;
    height: auto;
}



.precio_del_producto_destacado{
    position: absolute;
    bottom: 4em;
    left: 0em;
    background-color: rgb(133, 222, 242, 50%);
    padding: 0.5em 1em;
    border-radius: 0em 2em 2em 0em;
    font-weight: 600;
    font-size: 1.2em;
}

.boton_del_carrito{
    position: absolute;
    background-image: url(../img/CocinaN/fondo.jpg);
    padding: 0.2em 0.2em;
    font-size: 1.2em;
    text-align: center;
    border-radius: 5px;
    bottom:5%;
    right: 10%;
}

