
/* Banner */

.banner{
    display: flex;
    justify-content: center;
    padding: 0.5em 1em;
}

.banner_img{
    max-width: 17%;
    height: auto;
    margin-top: 2%;
    border-radius: 0.4em;
    align-self: center;
}


.flecha{
    text-decoration: none;
    color: #2c2727;
    font-size: 3em;
    align-self:center;
}

.flecha:hover{
    transform: scale(1.2,1.2);
    transition: ease;
    transition-duration: 0.2s;
}

.categorias_de_productos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    bottom: 10%;
    padding: 1em;
}


.categorias_de_productos h2{
   flex-basis: 100%;
   text-align: center;
   padding: 1em 0em;
}


/*  Contenedor producto_individual */
.producto_individual{
    max-width: 80%;
    height: auto;
    position: relative;
    flex-basis: 26%;
    padding: 1em;
}

.producto_individual:hover{
    transform: scale(1.1,1.1);
    filter: brightness(85%);
    transition: ease;
    transition-duration: 0.2s;
}


.descripcion-producto{
    font-size: 2em;
    font-weight: bold;
    color:#141414;
    text-decoration: none;
    text-align: center;
    position: absolute;
    top: 45%;
    right: 45%;
    text-shadow: -1px 1px 13px rgba(246,246,246,1);
}

.imagen-producto{
    max-width: 90%;
    height: auto;
    border-radius: 2em;
    align-items: center;
    position: relative;
}

.boton_de_categorias{
    width: 20%;
    height: 20%;
}

/*  Contenedor producto_mas_vendidos*/
.productos_mas_vendidos{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    padding: 1em;
}

.productos_mas_vendidos h2{
    padding: 1.2em 1em;
    flex-basis: 100%;
    text-align: center;
}

.producto_individual_mas_vendidos{
    vertical-align: top;
    height: 20em;
    margin: 1em;
    position: relative;
    flex-basis: 26%;
}

.producto_individual_mas_vendidos:hover{
    transform: scale(1.1,1.1);
    filter: brightness(85%);
    transition: ease;
    transition-duration: 0.2s;
}


.info_del_producto{
    position: absolute;
    background-color: rgb(165, 220, 233);
    border-radius: 0px 0px 50px 50px;
    width: 83%;
    padding: 0.6em 1em;
    top: 85%;
    text-align: left;
}

.precio_del_producto{
    position: absolute;
    bottom: 3em;
    left: 0em;
    background-color: rgb(133, 222, 242, 50%);
    padding: 0.3em 1em;
    border-radius: 0em 2em 2em 0em;
    font-weight: 600;
    font-size:1.2em;
}

.imagen-producto-info{
    max-width: 83%;
    height: auto;
    border-radius: 2em 2em 2em 2em;
    align-self: center;
}

.boton_del_carrito{
    position: absolute;
    bottom: 0em;
    right: 1em;
    font-size: 1.7em;
    text-decoration: none;
    color: #2c2727;
}

.boton_del_carrito:hover{
    color: #985aeb;
    transition: ease;
    transform: scale(1.2, 1.2);
    transition-duration: 0.2s;
}

.info_del_producto input{
    width: 12%;
    height: auto;
}


.formas_de_pago{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2em;
}

.formas_de_pago h2{
    flex-basis: 100%;
    text-align: center;
    padding: 1em 0em;
}

.formas_de_pago button{
    margin: 1em 1em;
}

.opcion_de_pago{
    max-width: 20%;
    height:fit-content;
    padding: 0em 1em;
}

.carousel h2{
    padding: 1.2em 1em;
    text-align: center;
}

.imagen-producto-info-carrusel{
    width: 20em;
    height: auto;
    border-radius: 2em 2em 2em 2em;
    align-self: center;
    align-content: center;
}
.productos_mas_vendidos-carrusel{
    display: flex;
    align-content: center;
    padding-left: 40%;
    padding-bottom: 3%;
    padding-top: 3%;
}

.info_del_producto-carrusel{
    position: absolute;
    background-color: rgb(165, 220, 233);
    border-radius: 0px 0px 50px 50px;
    width: 20em;
    padding: 0.6em 1em;
    top: 85%;
    text-align: left;
}

.carousel-inner{
   display: flex;
   align-content: center;
   margin-right: auto;
   margin-left: auto;
}
