.imagen-producto-destacado-info{
    max-width: 100%;
    height: auto;
    border-radius: 5em;
}

.imagen_producto_destacado{
    width: 100%;
}


.boton_del_carrito{
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: 1.7em;
}

.vista_de_producto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    bottom: 10%;
    padding: 2em;
    width: 80%;
}

.producto_individual_destacado{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;

}

.descripcion_del_producto{
    padding: 10% 5%;
    text-align: left;
    position: relative;
    flex-shrink: 10;
}

.titulo_del_producto{
    position: absolute;
    top: 1em;
    right: 3em;
}


.info_del_producto_destacado{
    position: absolute;
    bottom: 5%;
    right: 20%;
}

.info_del_producto_destacado input{
    width: 70%;
    height: auto;
}



.precio_del_producto_destacado{
    position: absolute;
    bottom: 4em;
    left: 0em;
    background-color: rgb(133, 222, 242, 50%);
    padding: 0.5em 1em;
    border-radius: 0em 2em 2em 0em;
    font-weight: 600;
    font-size: 1.2em;
}

.boton_del_carrito{
    position: absolute;
    background-image: url(../img/CocinaN/fondo.jpg);
    padding: 0.2em 0.2em;
    font-size: 1.2em;
    text-align: center;
    border-radius: 5px;
    bottom:5%;
    right: 10%;
}


@media screen and  ( (max-width: 600px) or (max-width: 360)) {


    .titulo_del_producto{
       top: 0%;
       right: auto;
    }

    .imagen-producto-destacado-info{
        position: relative;
        height: auto;
        border-radius: 20%;
        padding-top: 10%;
        padding-bottom: 10%;
         
    }

    .info_del_producto_destacado{
        bottom: 0%;
        
    }
    .productos_mas_vendidos-carrusel {
        padding-left: 23%;
    }

}

@media screen and (min-width: 600px) and (max-width: 992px){
    
}