.imagen-producto-destacado-info{
    width: 350px;
    border-radius: 50px;
}

.boton_del_carrito{
    position: absolute;
    bottom: 10px;
    right: 30px;
    font-size: 1.7em;
}

.vista_de_producto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    bottom: 10%;
    padding: 50px;
    width: 80%;
}

.producto_individual_destacado{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;

}

.descripcion_del_producto{
    padding: 10% 5%;
    text-align: left;
    position: relative;
    flex-shrink: 10;
}

.titulo_del_producto{
    position: absolute;
    top: 60px;
    left: 400px;
}


.info_del_producto_destacado{
    position: absolute;
    bottom: 5%;
    right: 20%;
}

.info_del_producto_destacado input{
    width: 70%;
    height: 25px;
}



.precio_del_producto_destacado{
    position: absolute;
    bottom: 50px;
    left: 0px;
    background-color: rgb(133, 222, 242, 50%);
    padding: 5px 15px;
    border-radius: 0px 150px 150px 0px;
    font-weight: 600;
    font-size:1.2em;
}

.boton_del_carrito{
    position: absolute;
    background-image: url(../img/CocinaN/fondo.jpg);
    padding: 5px 5px;
    font-size: 1.2em;
    text-align: center;
    border-radius: 5px;
    bottom:5%;
    right: 10%;
}


