.categorias_de_productos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    bottom: 10%;
    padding: 5px;
}


.categorias_de_productos h2{
   flex-basis: 100%;
   text-align: center;
}

.producto_individual_mas_vendidos{
    vertical-align: top;
    width: 310px;
    position: relative;
    flex-basis: 25%;
    margin: 35px 35px 50px 35px;
}

.info_del_producto{
    position: absolute;
    background-color: rgb(133, 222, 242, 50%);
    border-radius: 0px 0px 50px 50px;
    width: 300px;
    padding: 10px 20px;
    text-align: left;
}

.precio_del_producto{
    position: absolute;
    bottom: 20px;
    left: 0px;
    background-color: rgb(133, 222, 242, 50%);
    padding: 5px 15px;
    border-radius: 0px 150px 150px 0px;
    font-weight: 600;
    font-size:1.2em;
}

.imagen-producto-info{
    width: 300px;
    border-radius: 50px 50px 0px 0px;
    align-self: center;
}

.imagen-producto-destacado-info{
    width: 350px;
    border-radius: 50px;
    background-color: blue;
}

.boton_del_carrito{
    position: absolute;
    bottom: 10px;
    right: 30px;
    font-size: 1.7em;
}

.info_del_producto input{
    width: 10%;
    position: absolute;
    bottom: 13px;
    right: 70px;
}
.vista_de_producto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    bottom: 10%;
    padding: 50px;
    width: 80%;
}

.producto_individual_destacado{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;

}

.descripcion_del_producto{
    padding: 10% 5%;
    text-align: left;
    position: relative;
    flex-shrink: 10;
}

.titulo_del_producto{
    position: absolute;
    top: 60px;
    left: 400px;
}


.info_del_producto_destacado{
    position: absolute;
    bottom: 5%;
    right: 16%;
}

.info_del_producto_destacado input{
    width: 80%;
}



.precio_del_producto_destacado{
    position: absolute;
    bottom: 50px;
    left: 0px;
    background-color: rgb(133, 222, 242, 50%);
    padding: 5px 15px;
    border-radius: 0px 150px 150px 0px;
    font-weight: 600;
    font-size:1.2em;
}

.boton_del_carrito_destacado{
    position: absolute;
    background-color:rgb(250, 141, 195);
    width: 50px;
    padding: 10px 0px;
    font-size: 1.7em;
    text-align: center;
    border-radius: 10%;
    bottom:5%;
    right: 10%;
}


